$font-main: 'Raleway';

$content-width: 1600px;
$laptop-width: 1110px;
$tablet-width: 767px;

$color-primary: #000;
$color-secondary: #6E9C9F;
$color-active: #509498;
$color-background: #fff;
$color-footer: #F1EADC;

