.donation{
  background-color: #F6F6F6;
}
.donation-content{
  height: 464px;
  @include flex-columns;
  justify-content: space-around;
  padding: 81px 124px;
  @include media-tablet{
    flex-wrap: wrap-reverse;
    height: auto;
    padding: 81px 0 98px;
  }
  .donation__image{
    margin-top: 9px;
    display: inline-block;
    background-image: url(../assets/images/donation-dog.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 505px;
    height: 261px;
    @include media-tablet{
      margin-top: 50px;
    }
  }
  .donation__text{
    text-align: left;
    h2{
      text-align: left;
    }
    &>button{
      padding: 5px 10px;
      border-radius: 9px;
      height: 43px;
      width: 349px;
      text-align: left;
      a{
        display: inline;
        font-family: $font-add;
        @include font($size: 20px, $height: 23px);
        letter-spacing: 0.06em;
        color: $color-title;
        &::before{
          content: "";
          margin-right: 10px;
          display: inline-block;
          background-image: url(../assets/svg/credit-card.svg);
          width: 30px;
          height: 23px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }    
    p{
      width: 380px;
      margin-top: 19px;
      @include font($size: 12px, $height: 18px);
      color: $color-text-light;
    } 
  }
  
}