.friends{
  background-color: #F6F6F6;
  height: 877px;
}
.friends-content{
  text-align: center;
  padding: 80px 0;
  .friends-pagination{
    padding-top: 57px;
    margin-bottom: 78px;
    @include flex-columns;
    align-items: center;
    .pagination__item{
      @include pagination__item;
      margin: 0 35px;
      @include media-tablet{
        margin: 0;
      }
    }
    @include media-tablet{
      .pagination__item_hidden{
        display: none;
      }
      flex-wrap: nowrap;
    }
  }
  .button{
    margin-top: 63px;
  }
}