.header {
  background: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #211f20;
  background-size: 100%;
  height: 100px;
  @include media-tablet {
    background-image: url("../assets/images/background-768.jpg");
  }
}
.header-content {
  padding-top: 57px;
  @include flex-columns;
  @include media-tablet {
    padding-top: 26px;
    justify-content: space-between;
  }
  @media (max-width: 375px) {
    overflow-x: hidden;
    .header__nav {
      margin: 0;
      position: fixed;
      top: 0;
      left: 375px;
      width: 320px;
      height: 100%;
      background-color: $color-text-dark;
      transition: 0.5s;
    }
    .header__nav.open{
      left: 70px;
      overflow: hidden;
      box-shadow: -15px 0px 140px 17px #000;
      z-index: 2;
    }
  }
  .header__logo {
    h2 {
      color: $color-primary;
      font-size: 35px;
      @media (max-width: 375px){
        @include font($size: 32px, $height: 35px);
      }
    }
    p {
      color: $color-secondary;
      margin: 0px;
      @media (max-width: 375px){
        @include font($size: 13px, $height: 15px);
      }
    }
  }
  .header__list {
    @include flex-columns;
    justify-content: flex-end;
    list-style: none;
    gap: 23px;
    margin-top: 20px;
    @media (max-width: 375px) {
      z-index: 2;
      display: block;
      position: absolute;
      text-align: center;
      margin-top: 130px;
    }
    .header__item {
      padding: 0px 5px;
    }
    .header__link {
      text-decoration: none;
      color: $color-text-secondary;
      &:hover {
        color: $color-primary;
      }
      @media (max-width: 375px){
        @include font($size: 23px, $height: 51px);
      }
    }
    .header__link_active {
      border-bottom: 3px solid $color-primary;
      @media (max-width: 375px){
        color: $color-link;
      }
    }
  }
  .header__burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 28px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    // margin: 31px 64px 0 0;
    @media (max-width: 375px) {
      display: flex;
    }
  }
  .burger__line {
    width: 80%;
    height: 2px;
    background-color: $color-secondary;
    margin: 3.5px 0;
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }
  .header__burger.open .burger__line_1 {
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  .header__burger.open .burger__line_2 {
    opacity: 0;
  }
  .header__burger.open .burger__line_3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }
}
.header_lite {
  background-image: none;
  background-color: $color-secondary;
  height: 120px;
  position: sticky;
  top: 0;
  .header-content {
    padding-top: 27px;
    .header__logo {
      h2 {
        color: $color-title;
      }
      p {
        color: $color-text-dark;
      }
    }
    .header__list {
      .header__link {
        color: $color-title;
        &:hover {
          color: $color-text-dark;
        }
      }
    }
  }
}
