.header {
  background: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: #211f20;
  background-size: 100%;
  height: 100px;
  @include media-laptop {
    background-size: auto;
  }
}
.header-content {
  padding-top: 60px;
  @include flex-columns;
  @include media-laptop {
    padding-top: 30px;
    justify-content: space-between;
  }
  @include media-tablet {
    overflow-x: hidden;
    .header__nav {
      margin: 0;
      position: fixed;
      top: 0;
      right: -320px;
      width: 320px;
      height: 100%;
      background-color: $color-text-dark;
      transition: 0.5s;
    }
    .header__nav.open{
      right: 0;
      overflow: hidden;
      box-shadow: -15px 0 140px 17px #000;
      z-index: 2;
    }
  }
  .header__logo {
    z-index: 3;
    h2 {
      color: $color-primary;
      @include font($size: 32px, $height: 35px);
    }
    p {
      color: $color-secondary;
      margin: 9px 4px 0;
      @include font($size: 13px, $height: 15px);
      letter-spacing: 0.1em;
    }
  }
  .header__list {
    @include flex-columns;
    justify-content: flex-end;
    list-style: none;
    gap: 24px;
    margin-top: 17px;
    @include media-tablet {
      z-index: 2;
      display: block;
      position: absolute;
      text-align: center;
      margin-top: 205px;
    }
    .header__item {
      padding: 0px 5px;
      @include media-tablet{
        margin: 42px 0;
      }
    }
    .header__link {
      text-decoration: none;
      color: $color-text-secondary;
      &:hover {
        color: $color-primary;
      }
      @include media-tablet{
        @include font($size: 32px, $height: 51px);
      }
    }
    .header__link_active {
      border-bottom: 3px solid $color-primary;
      @include media-tablet{
        color: $color-link;
      }
    }
  }
  .header__burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 32px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    margin: 14px 43px 0 0;
    @include media-tablet {
      display: flex;
    }
  }
  .burger__line {
    width: 100%;
    height: 2px;
    background-color: $color-secondary;
    margin: 4px 0;
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }
  .header__burger.open {
    transform: rotate(90deg);
  }
}
.header_lite {
  background-image: none;
  background-color: $color-secondary;
  height: 120px;
  position: sticky;
  top: 0;
  .header-content {
    padding-top: 30px;
    .header__logo {
      h2 {
        color: $color-title;
      }
      p {
        color: $color-text-dark;
      }
    }
    .header__list {
      .header__link {
        color: $color-title;
        &:hover {
          color: $color-text-dark;
        }
      }
    }
    .burger__line{
      background-color: $color-text-dark;
    }
  }
}
