.only{
  background-image: url('../assets/images/background.jpg');
  background-position: center -100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #211F20;
  background-size: 100%;
  @include media-laptop{
    background-size: auto 1160px;
  }
}
.only-content{
  @include flex-columns;
  padding-top: 60px;
  @include media-laptop{
    padding-top: 22px;
    flex-direction: column;
    align-items: center;
  }
  @include media-tablet{
    padding-top: 33px;
  }
  .only-text{
    margin-top: 155px;
    @include media-laptop{
      margin-top: 0;
      padding-left: 3px;
      div{
        text-align: center;
      }
    }
    @include media-tablet{
      padding: 0 4px;
    }
    h1{
      width: 310px;
      @include media-tablet{
        width: 263px;
        text-align: center;
      }
      @include media-tablet{
        margin: 17px 15px;
        width: auto;
      }
    }
    p{
      color: $color-text-secondary;
      width: 465px;
      @include font($size: 15px, $height: 24px);
      margin: 40px 0 59px;
      @include media-tablet{
        width: auto;
        text-align: justify;
        margin: 42px 0 57px;
      }
    }
    
  }
  .only-img{
    display: block;
    background-image: url(../assets/images/main-puppy.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 698px;
    height: 728px;
    margin-top: 20px;
    @include media-laptop{
      width: 569px;
      height: 593px;
      margin: 114px 0 0 139px;
    }
    @include media-tablet{
      width: 260px;
      height: 272px;
      margin: 120px 0 0 40px;
    }
  }
  
}