.pets{
  background-color: #F6F6F6;
}
.pets-content{
  text-align: center;
  padding: 81px 0 40px;
  @include media-tablet{
    padding: 42px 0 8px;
  }
  h1{
    font-family: $font-add;
    @include font($size: 35px, $height: 45px);
    letter-spacing: 0.06em;
    color: $color-title;
    margin: 0px;
    @include media-tablet{
      @include font($size: 25px, $height: 32px);
    }
  }
  .pets-pagination{
    padding-top: 59px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 40px;
    align-items: center;
    justify-items: center;
    .pagination__item{
      @include pagination__item;
    }
    @include media-laptop{
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr 1fr; 
      padding: 29px 44px 0;
      column-gap: 0;
      .pagination__item_hidden{
        display: none;
      }     
    }
    @include media-tablet{
      grid-template-columns: 1fr;
      padding: 42px 0 0;
      .pagination__item_hidden2{
        display: none;
      }  
    }
  }
  .pets-btns{
    margin: 60px 0;
    .btn{
      margin: 0 8px;
      @include media-tablet{
        margin: 0 2px;
      }
    }
    @include media-laptop{
      margin: 40px 0 36px;
    }
  }
}    