$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-secondary: #ffffff;
$color-title: #545454;
$color-text-main: #4C4C4C;
$color-text-dark: #292929;
$color-text-secondary: #CDCDCD;
$color-text-light: #B2B2B2;
$color-link: #FAFAFA;

$font-main: 'Arial', sans-serif;
$font-add: 'Georgia', serif;

$content-width: 1280px;
$laptop-width: 1279px;
$tablet-width: 767px;
$mobile-width: 319px;
