h1{
  font-family: $font-add;
  @include font($size: 44px, $height: 57px);
  color: $color-link;
}
h2{
  font-family: $font-add;
  @include font($size: 39px, $height: 45px);
  color: $color-title;
  margin: 0;
}
h3{
  font-family: $font-add;
  @include font($size: 23px, $height: 23px);
  color: $color-title;
  margin: 0;
}
h4{
  font-family: $font-add;
  @include font($size: 17px, $height: 17px);
  color: $color-title;
  margin: 20px 0;
}