.garage__item{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    &-road{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed black;
    }
    &-car {
        width: 100px;
        height: 50px;
        &_svg{
            width: 100px;
            height: 50px;
        }
    }
    &-finish{
        margin-right: 50px;
        width: 50px;
        height: 50px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.btn{
    &-small {
        height: 25px;
        padding: 2px 5px;
        font-size: 10px;
        box-shadow: 0 3px 1px rgba(255, 255, 255, 0.5);

        &:active {
            transform: translateY(3px);
            box-shadow: none;
        }

        &:disabled {
            transform: translateY(3px);
            box-shadow: none;
        }
    }
}
