.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0 10px;
    position: relative;
    gap: 10px;
}

.header__link {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #baedff;
    padding: 8px 30px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: transform 0.2s ease-in-out;
    margin-top: 10px;
}